[submodule "mockamap"]
	path = mockamap
	url = git@github.com:matthewoots/mockamap.git
[submodule "lib_lro_rrt"]
	path = lib_lro_rrt
	url = git@github.com:matthewoots/lib_lro_rrt.git
[submodule "lib_octree_local_map"]
	path = lib_octree_local_map
	url = git@github.com:matthewoots/lib_octree_local_map.git
[submodule "lib_corridor_generator"]
	path = lib_corridor_generator
	url = git@github.com:mamariomiamo/corridor_gen.git
