<launch>

<arg name="map_size" value="30" />
<arg name="height_size" value="7" />

<include file="$(find tbborrt_ros)/launch/gen_mockamap.launch">
    <arg name="size" value="$(arg map_size)" />
    <arg name="height" value="$(arg height_size)" />
</include>

<node pkg="tbborrt_ros" type="tbborrt_ros_node" name="tbborrt_ros_node" output="screen">
    <param name="sub_runtime_error" value="0.03"/>
    <param name="runtime_error" value="0.1"/>
    <param name="simulation_step" value="0.025"/>

    <param name="sensor_range" value="4.0"/>
    <param name="sensor_buffer_multiplier" value="1.5"/>
    <param name="protected_zone" value="0.4"/>

    <param name="search_interval" value="0.5"/>
    <param name="resolution" value="0.75"/>

    <param name="map_size" value="$(arg map_size)"/>
    <param name="max_velocity" value="2.0"/>

    <rosparam param="height"> [1.0, 5.0] </rosparam>
    <rosparam param="no_fly_zone"> [] </rosparam>
</node>

<!-- Launch RViz with the demo configuration -->
<node name="rviz" pkg="rviz" type="rviz"
    args="-d $(find tbborrt_ros)/rviz/mockamap.rviz"/>

</launch>